/* TODO set up hover effect which changes what colors are left behind */
* {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}

.appContainer {
  display: flex;
}

.gridContainer {
  display: inline-block;
}

.rowGridContainer {
  display: flex;
}

.gridBlock {
  background: white;
}

.slider {
  display: flex;
  flex-direction: column;
}

#slider {
  width: 80%;
}

#sliderValue {
  margin-left: 10px;
}
